
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="index/template :: header">
        <title>TODO supply a title</title>
    </head>
    <body>
        <ul>
            <li th:each='raaka_aine : ${raaka_aineet}'>
                <span th:text='${raaka_aine.key.nimi}'>nimi</span>
                esiintyy
                <span th:text='${raaka_aine.value}'>count</span>
                reseptissä
            </li>
        </ul>
        
    </body>
</html>
