<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="index/template :: header">
        <title>Reseptit</title>
    </head>
    <body>
        <h1>Lisää resepti</h1>
        
        
        <form class="cmxform" id="reseptiForm" method='POST' th:action='@{~/{url}(url=${lisää_resepti})}'>
            <br><span>Reseptin nimi:</span></br>
            <br><input id='cname' type='text' name='nimi' minlength="3" th:required="required"/></br>

            
            <br><div th:replace="recipe/datalist :: datalist">
                
            </div></br>
            
            
            <br>
            <fieldset>
                <legend>Valitse Kategoriat</legend>
                <div th:each="kategoria : ${kategoriat}">
                    <input type="checkbox" name="kategoria" th:value="${kategoria.id}"/>
                    <span th:text="${#strings.capitalize(kategoria.nimi)}">Kategoria</span>
                </div>
            </fieldset>
            </br>


            <br><span>Reseptin valmistusaika (min):</span></br>
            <br><input id="cnumber" type='number' name='valmistusaika' min="0" th:required="erquired"/></br>
            
            <br><span>Reseptin Ohje</span></br>
            <br><textarea name='ohje' rows="5" cols="32" th:required="required"/></br>
            
            <input id='submit_resepti' type='submit' value='Lisää resepti'/>
        </form>
        <script>
            $('#reseptiForm').validate();
        </script>



        <div th:replace="index/template :: footer"></div>
    </body>
</html>
