<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body>
        <h1>Reseptit</h1>
        <ul>
            <li th:each='resepti : ${reseptit}'><!--Loopataan listan läpi joka löytyy hakusanalla "resepti"-->
                <a th:href="${RECIPES}+${resepti.id}">
                    <span th:text='${resepti.id}'>id</span>
                    <span th:text='${resepti.nimi}'>nimi</span>
                    <span th:text='${resepti.luokitus}'>luokitus</span>
                    <span th:text='${resepti.valmistusaika}'>valmistusaika</span>
                </a>
            </li>
        </ul>
        <a th:href='${etusivu_url}'>Takaisin etusivulle</a> <!-- Haetaan etusivun URL osoite -->
    </body>
    p
</html>
