<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="datalist">
            <script>
//                Kun painaa "addRowButton" nappia niin se lisää uuden rivin "reseptiTable" pöytään.
                $(document).ready(function() {
                    var addRow = function(){
                        $('#reseptiTable').append('<tr><th><input list="raaka-aineet" name="raaka-aine"/>'+
                        '<datalist id="raaka-aineet">'+
                            '<option th:each="raaka_aine : ${raaka_aineet}" th:value="${#strings.capitalize(raaka_aine.nimi)}"/>'+
                        '</datalist></th><th><input type="text" name="maara"/></th></tr>');
                    };
                    $('#addRowButton').click(function(){
                        addRow();
                    });
                });
            </script>
            <table id="reseptiTable">
                <tr>
                    <th>
                        Raaka-aine (Valitse listasta tai lisää uusi)
                    </th>
                    <th>
                        Määrä
                    </th>
                </tr>
                <tr>
                    <th>
                        <input list="raaka-aineet" name="raaka-aine"/>
                        <datalist id="raaka-aineet">
                            <option th:each="raaka_aine : ${raaka_aineet}" th:value="${#strings.capitalize(raaka_aine.nimi)}"/>
                        </datalist>
                    </th>
                    <th>
                        <input type='text' name='maara'/>
                    </th>
                </tr>
            </table>
            <button type="button" id="addRowButton">Lisää raaka-aine</button>
        </div>
    </body>
</html>
