<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    </head>
    <body>
        <div th:fragment="datalist">
            <script>
//                Kun painaa "addRowButton" nappia niin se lisää uuden rivin "reseptiTable" pöytään.
                $(document).ready(function() {
                    var addRow = function(){
                        $('#reseptiTable').append('<tr><td><input list="raaka-aineet" maxlength="254" name="raaka-aine" th:required="required" />'+
                        '<datalist id="raaka-aineet">'+
                            '<option th:each="raaka_aine : ${raaka_aineet}" th:value="${#strings.capitalize(raaka_aine.nimi)}"/>'+
                        '</datalist></td><td><input type="text" name="maara" maxlength="254" th:required="required" /></td></tr>');
                    };
                    $('#addRowButton').click(function(){
                        addRow();
                    });
                    
                });
            </script>
            <table id="reseptiTable">
                <tr>
                    <th class="leftCol">
                        Raaka-aine (Valitse listasta tai lisää uusi)
                    </th>
                    <th class="rightCol">
                        Määrä
                    </th>
                </tr>
                <tr>
                    <td class="leftCol">
                        <input list="raaka-aineet" name="raaka-aine" maxlength="254" th:required="required" />
                        <datalist id="raaka-aineet">
                            <option th:each="raaka_aine : ${raaka_aineet}" th:value="${#strings.capitalize(raaka_aine.nimi)}"/>
                        </datalist>
                    </td>
                    <td class="rightCol">
                        <input type='text' name='maara' maxlength="254" th:required="required" />
                    </td>
                </tr>
            </table>
            <br></br>
            <button type="button" id="addRowButton">Lisää uusi raaka-aine</button>
        </div>
    </body>
</html>
