<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="index/template :: header (${#strings.capitalize(resepti.nimi)})">
    </head>
    <body>
        <div>
            <h1 th:text='${#strings.capitalize(resepti.nimi)}'>Resepti</h1>

            <p>Valmistusaika: <span th:text='${resepti.valmistusaika}'>valmistusaika</span> minuuttia</p><br/>

            <p>Raaka-aineet:</p>
            
            <table id="raaka-aineet">
                <tr th:each="raaka_aine : ${resepti.raaka_aineet}">
                    <td th:text="${#strings.capitalize(raaka_aine.nimi)}">
                        nimi
                    </td>
                    <td th:text="${#strings.capitalize(raaka_aine.maara)}">
                        maara
                    </td>
                </tr>
            </table>
            
            <br></br>
<!--            <ul>
                <li th:each="raaka_aine : ${resepti.raaka_aineet}"><span th:text="${#strings.capitalize(raaka_aine.nimi)}">Raaka_aine nimi</span>: <span th:text="${raaka_aine.maara}">raaka_aine maara</span></li>
            </ul>-->

            <p>Ohje: <span th:text='${#strings.capitalize(resepti.ohje)}'>valmistusaika</span></p><br/>
            <br></br>





            <br></br>
            <form method='POST' th:action='@{~/{url}(url=${poista_url})}'>
                <input type="hidden" name="id" th:value="${resepti.id}"/>
                <input type="submit" value="Poista resepti"/>
            </form>
            
            <br></br>

            <a th:href='${INDEX}'>Takaisin etusivulle</a>
        </div>
    </body>
</html>
