<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="index/template :: header (Reseptejä)">
        <title>Reseptejä</title>
    </head>
    <body>
        <div>
            <h1>Tervetuloa</h1>
            <br><a th:href='${RECIPES}'>Selaa reseptejä</a></br>
            <br><a th:href='${lisää_resepti_sivu}'>Lisää resepti</a></br>
            <br><a th:href='${lisää_raaka_aine_sivu}'> Lisää raaka-aineita</a></br>
            <br><a th:href='${STATS}'>Statistiikka</a></br>
        </div>
    </body>
</html>
