<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:fragment="header">
            <title>Reseptejä</title>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <style>
                body {
                    background-color: lightblue;
                }
                h1 {
                    color: red;
                }
            </style>
    </head>
    <body>
        <a th:fragment="footer" th:href="${etusivu_url}">
            Palaa etusivulle
        </a>
    </body>
</html>
